body {
  margin: 0;
  background: #000;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: white;
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

a {
  font-style: italic;
  color: #121524;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 20px 0;
}

.video-container {
  height: 100vh;
  width: 100vw;
}

video {
  width: 100%;
  height: auto;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
}

.text-overlay h1 {
  mix-blend-mode: overlay;
  z-index: 2;
  position: absolute;
  top: 15vh;
  left: 10vw;
  max-width: 900px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  color: #FAF9F6;
  z-index: 2;
  height: 70px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.active {
  color: #121524;
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(6, 8, 14, 0.2);
  box-shadow: 0 0 8px rgba(6, 8, 14, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle-svg {
  fill: #FAF9F6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrolled {
  fill: #121524;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-flex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 900px;
  margin: auto;
}

.one {
  background-color: white;
  color: #121524;
  font-size: 60px;
  font-weight: 500;
}

.navy-block {
  background-color: #121524;
  color: grey;
  font-size: 40px;
  font-weight: 400;
}

.navy-block .content {
  text-align: center;
}

.navy-block h2 {
  color: #FAF9F6;
}

.navy-block a {
  color: #FAF9F6;
  font-weight: 400;
}

.three {
  background-color: #FAF9F6;
  color: grey;
  font-size: 24px;
  font-weight: 400;
  height: 900px;
}

.three .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.three .text {
  width: 400px;
}

.three h2 {
  text-align: center;
  padding-top: 120px;
  margin: 0 0 104px;
  color: #121524;
}

.three h3 {
  color: #121524;
  margin-top: 0px;
}

.image {
  height: 435px;
  overflow: hidden;
}

.image img {
  width: 400px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.image img:hover {
  -webkit-filter: none;
          filter: none;
}

.services-block {
  background-color: #FAF9F6;
  text-align: center;
  padding: 56px 0;
}

.services-block .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: auto;
}

.service {
  padding: 28px;
  width: 300px;
}

.service h3 {
  color: #121524;
  margin-top: 32px;
}

.service p {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}

.service-icon {
  max-height: 100px;
}

.service-icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.service-icon:hover svg path {
  fill: red;
}

.placeholder {
  text-align: center;
  color: #121524;
  background-color: white;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inquire {
  height: 450px;
  background-color: #121524;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inquire a {
  color: #FAF9F6;
  font-size: 56px;
}

.nav-menu {
  padding: 56px;
}

.nav-menu a {
  display: block;
  text-align: left;
  color: #FAF9F6;
  margin: 56px 0px;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu a:nth-child(2) {
  margin: 104px 0 48px;
}

.menu-toggle {
  display: block;
  cursor: pointer;
}

.menu-toggle img {
  width: 40px;
  z-index: 100;
  cursor: pointer;
}

.offscreen .menu-toggle img {
  width: 30px;
}

.offscreen {
  background-color: #121524;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  /*   hide menu off page */
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 4;
}

.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.menu-open {
  overflow: hidden;
}

footer {
  background-color: grey;
  padding: 20px;
  color: #FAF9F6;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links {
  font-family: 'lato', sans-serif;
}

.footer-links span {
  font-size: 16px;
  text-transform: uppercase;
}

.footer-links a {
  color: #FAF9F6;
  text-decoration: none;
  font-size: 14px;
  padding-left: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-links-social {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.footer-links-social img {
  height: 20px;
  padding: 0 16px;
}

@media (max-width: 770px) {
  html {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */