body {
  margin: 0;
  background: #000;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: white;
  font-size: 80px;
  font-weight: 500;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

h2 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

a {
  font-style: italic;
  color: #121524;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 20px 0;
}

// video stuff//
.video-container {
  height: 100vh;
  padding: 50px;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  z-index: -2;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

.text-overlay {
  position: relative;
  max-width: 900px;
  margin: 0 50px 50px;
  h1 {
    mix-blend-mode: overlay;
    z-index: 2;
  }
}

@media screen and (max-width: 500px) {
  div {
    width: 70%;
  }
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed;
  }
  #bgvid {
    display: none;
  }
}

// sticky scroll header
.header {
  display: flex;
  position: fixed;
  color: white;
  z-index: 2;
  height: 70px;
  width: 100%;
  background: transparent;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

.active {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(6, 8, 14, 0.2);
  box-shadow: 0 0 8px rgba(6, 8, 14, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-container {
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
}

// sections //
section {
  height: 100vh;
  display: flex;
}

.content {
  width: 900px;
  margin: auto;
}

.one {
  background-color: white;
  color: #121524;
  font-size: 60px;
  font-weight: 500;
}

.two {
  background-color: #121524;
  color: grey;
  font-size: 40px;
  font-weight: 400;
  .content {
    text-align: center;
  }
  h2 {
    color: #FAF9F6;
  }
  a {
    color: #FAF9F6;
  }
}

.three {
  background-color: #FAF9F6;
  color: grey;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  .content {
    display: flex;
    justify-content: space-around;
  }
  .text {
    width: 400px;
  }
  h3 {
    color: #121524;
    margin-top: 0px;
  }
}

.image {
  height: 435px;
  overflow: hidden;
  img {
    width: 400px;
    filter: grayscale(100%);
    transition: all 1s ease;
    &:hover {
      filter: none;
    }
  }
}

// slide out nav menu //
.nav-menu {
  padding: 56px;
  a {
    display: block;
    text-align: left;
    color: #FAF9F6;
    margin: 56px 0px;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.nav-menu a:nth-child(2) {
  margin: 104px 0 48px;
}

.menu-toggle {
  display: block;
  cursor: pointer;
}

.menu-toggle img {
  width: 40px;
  z-index: 100;
  cursor: pointer;
}

.offscreen .menu-toggle img {
  width: 30px;
}

.offscreen {
  background-color: #121524;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  /*   hide menu off page */
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 4;
}

.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.menu-open {
  overflow: hidden;
}

footer {
  background-color: grey;
  padding: 20px;
  color: #FAF9F6;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  font-family: 'lato', sans-serif;
  span {
    font-size: 16px;
    text-transform: uppercase;
  }
  a {
    color: #FAF9F6;
    text-decoration: none;
    font-size: 14px;
    padding-left: 32px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.footer-links-social {
  align-content: flex-end;
  img {
    height: 20px;
    padding: 0 16px;
  }
}
